body {
  background-color: rgba(255, 68, 51, 0.9);
  padding-top: 1rem;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
}

.logo {
  display: grid;
  place-items: center;
}

.logo-img {
  border: 3px #fff solid;
  padding: 1rem;
  border-radius: 10px;
  width: 100px;
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

.nav {
  padding-top: 1rem;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 0.8rem;
  place-items: center;
  opacity: 0;
  animation: fade-in 1s ease forwards;
  animation-delay: 1s;
}

.hero {
  margin: 0 auto;
  display: relative;
  opacity: 0;
  animation: fade-in 1s ease forwards;
  animation-delay: 1.5s;
}

.hero-title {
  text-align: center;
  margin: 2rem;
}

.hero-img {
  opacity: 0;
  filter: brightness(80%);
  width: 70vw;
  margin: 0 auto;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transform: skew(-5deg);
  box-shadow: 10px 10px 1px 1px rgba(255, 68, 51, 0.9);
  animation: fade-in 1s ease forwards;
  animation-delay: 2s;
}

.hero-copy {
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 1s ease forwards;
  animation-delay: 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .white-box {
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  width: 80vw;
  height: 50vh;
  max-width: 600px;
} */
/* 
BOILER-PLATE
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
