@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --red-text: rgb(194, 24, 7, 1);
  --offwhite-text: rgb(212, 212, 212, 0.9);
  --white-text: rgb(255, 255, 255, 0.9);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #121212,
    #1d1d1d,
    #282828,
    #333333
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: rgb(212, 212, 212);
  font-family: "Raleway", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@keyframes fade-in {
  from {
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(194, 24, 7, 0.8);
  border-radius: 50px;
  opacity: 0.5;
  height: 50px;
}
